.stock-data-table {
  border-collapse: collapse;
  top: 0;
  left: 0;
}

.stock-data-table, .stock-item, .stock-ticker, .stock-value, .stock-time, .connect-button-wrapper, .connect-status {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 10px;
}

.stock-ticker {
  min-width: 80px; 
}

.stock-value {
  min-width: 160px; 
}

.stock-time {
  min-width: 160px; 
}

.header {
  text-align: center;
}

.stock-value.increasing {
  color: white;
  background: green;
}

.stock-value.decreasing {
  color: white;
  background: red;
}

.connection-button {
  font-size: 16px;
  cursor: pointer;
}